# Numpy 모듈

### n차원배열 만들기

In [1]:
import numpy
array1 = numpy.array([2,3,5,7,11,13,17,19,23,29,31])

array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31])

In [2]:
type(array1)

numpy.ndarray

numpy.ndarray 는 n dimension array 로 n차원배열을 의미한다

In [3]:
array1.shape

(11,)

In [4]:
array1

array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31])

내용물이 11개인 1차원배열

---

In [5]:
array2 = numpy.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [6]:
array2.shape

(3, 4)

In [7]:
array2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

열이 3개, 행이 4개인 2차원 배열

In [15]:
array3 = numpy.array([[[1,2,3,4],[5,6,7,8]],[[9,10,11,12],[13,14,15,16]],[[17,18,19,20],[21,22,23,24]]])

In [16]:
array3.shape

(3, 2, 4)

In [17]:
array3

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]],

       [[17, 18, 19, 20],
        [21, 22, 23, 24]]])

---

### 균일한 값으로 생성하기

In [18]:
array4 = numpy.full(6,7)
array4

array([7, 7, 7, 7, 7, 7])

### 모든값이 0인 numpy array 생성하기

In [19]:
array5 = numpy.full(6,0)
array5

array([0, 0, 0, 0, 0, 0])

In [21]:
array6 = numpy.zeros(6, dtype=int)
array6

array([0, 0, 0, 0, 0, 0])

### 모든값이 1인 numpy array 생성하기

In [26]:
array7 = numpy.full(6,1)
array7

array([1, 1, 1, 1, 1, 1])

In [27]:
array8 = numpy.ones(6, dtype=int)
array8

array([1, 1, 1, 1, 1, 1])

In [28]:
array9 = numpy.ones(6,int)
array9

array([1, 1, 1, 1, 1, 1])

In [30]:
array10 = numpy.ones(6)
array10

array([1., 1., 1., 1., 1., 1.])

매개변수를 6 하나만 넣으면 float 형으로 나오는듯

### 랜덤한 값으로 생성

In [31]:
array11 = numpy.random.random(6)
array11

array([0.59956321, 0.85960506, 0.25184715, 0.19046397, 0.02347895,
       0.06878311])

### 연속된 값들이 담긴 numpy array 생성

In [34]:
array12 = numpy.arange(6)
array12

array([0, 1, 2, 3, 4, 5])

In [35]:
array13 = numpy.arange(2,7)
array13

array([2, 3, 4, 5, 6])

In [36]:
array14 = numpy.arange(3,17,4)
array14

array([ 3,  7, 11, 15])

import numpy 에다가 as 를 붙이고 쓰고싶은 이름을 정하면 그 이름으로 numpy를 대체해서 사용가능  

ex)  
import numpy as np  
np.array([1,2,3])  
np.zeros(6)  
np.full(6,1)

In [45]:
array15 = numpy.arange(0,101,3)
array16 = array15[[1,3,4]]
array16

array([ 3,  9, 12])

In [46]:
array17 = numpy.array([1,3,4])
array18 = array15[array17]
array18

array([ 3,  9, 12])

ndarray 에 리스트로 인덱싱하면 해당 인덱스의 값들을 ndarray로 리턴한다

In [47]:
array15[2:7]

array([ 6,  9, 12, 15, 18])

In [48]:
array15

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [49]:
array15[::1]

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [50]:
array15[::-1]

array([99, 96, 93, 90, 87, 84, 81, 78, 75, 72, 69, 66, 63, 60, 57, 54, 51,
       48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12,  9,  6,  3,  0])

배열을 뒤집고싶을때는 ::-1로 슬라이싱하면 됨