#### pandas는 R 의 DataFrame을 베껴서 만든 모듈

pandas는 거의 numpy 기반으로 만들어졌기때문에 numpy의 기능을 포함하고있고  
추가로 데이터 분석, 데이터 정리, 외부데이터 읽고 쓰기 등을 포함하고있다

#### DataFrame
표 형식의 데이터를 담는 자료형

numpy는 빠른속도로 처리하기위해 한가지 자료형의 DataFrame으로만 사용가능하지만  
pandas는 여러자료형으로 구성된 DataFrame을 사용할수있다

---

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [23]:
two_demensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [24]:
array = np.array(two_demensional_list)
array

array([['dongwook', '50', '86'],
       ['sineui', '89', '31'],
       ['ikjoong', '68', '91'],
       ['yoonsoo', '88', '75']], dtype='<U8')

In [25]:
array2 = array * 1
array2

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U8'), dtype('<U8')) -> dtype('<U8')

#### numpy를 사용하면 ndarray를 만들순있지만 안에 string자료형이 껴있어서 연산이 제대로 작동하지않는듯 하다

In [26]:
two_demensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [30]:
my_df = pd.DataFrame(two_demensional_list)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [31]:
type(my_df)

pandas.core.frame.DataFrame

#### 위에 df는 컬럼의 이름을 지정하지않아서 0,1,2로 나온다 로우와 컬럼의 이름을 지정해보자

In [34]:
my_df2 = pd.DataFrame(two_demensional_list, columns=['name', 'english_score', 'math'], index=['a', 'b', 'c', 'd'])
my_df2

       name  english_score  math
a  dongwook             50    86
b    sineui             89    31
c   ikjoong             68    91
d   yoonsoo             88    75

In [37]:
my_df2.columns

Index(['name', 'english_score', 'math'], dtype='object')

In [40]:
my_df2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [41]:
my_df2.dtypes

name             object
english_score     int64
math              int64
dtype: object

#### dtypes를 호출하면 각 컬럼이 무슨 타입인지 출력해준다

2차원 리스트나 2차원 numpy array로 DataFrame을 만들 수 있다.  
pandas Series를 담고 있는 리스트로도 DataFrame을 만들 수 있다

In [45]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]

# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)
print(df2)
print(df3)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75
          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75
          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

#### dictionary로도 dataframe을 만들수있다

In [73]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

# list
dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}

# np.array
dict2 = {
    'name': np.array(names), 
    'english_score': np.array(english_scores), 
    'math_score': np.array(math_scores)
}

# pandas series
dict3 = {
    'name': pd.Series(names), 
    'english_score': pd.Series(english_scores), 
    'math_score': pd.Series(math_scores)
}


# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)
print(df2)
print(df3)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75
       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75
       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

#### dictionary가 담긴 리스트를 dataframe으로 만들수도있다

In [65]:
my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]
print(my_list)

[{'name': 'dongwook', 'english_score': 50, 'math_score': 86}, {'name': 'sineui', 'english_score': 89, 'math_score': 31}, {'name': 'ikjoong', 'english_score': 68, 'math_score': 91}, {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}]

In [51]:
df = pd.DataFrame(my_list)
print(df)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

---

#### 데이터 읽어들이기

csv 란, comma-separated values 로 콤마로 나누어진 값들 이라고 한다

In [79]:
iphone_df = pd.read_csv('data/iphone.csv')
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [80]:
type(iphone_df)

pandas.core.frame.DataFrame

#### pandas는 자동으로 첫줄을 헤더로 인식해서 가져오게 되어있는데  
#### header=None을 붙여주면 첫째줄을 헤더로 인식하지 않고 가져온다

In [83]:
iphone_df2 = pd.read_csv('data/iphone.csv', header=None)
iphone_df2

               0           1      2    3         4        5
0            NaN         출시일  디스플레이  메모리     출시 버전  Face ID
1       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0       No
2  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       No
3       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0       No
4  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       No
5       iPhone X  2017-11-03    5.8  3GB  iOS 11.1      Yes
6      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0      Yes
7  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0      Yes

#### index_col 을 이용하면 그 컬럼이 row가 된다

In [86]:
iphone3 = pd.read_csv('data/iphone.csv', index_col=0)
iphone3

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes